@import "./colorScheme.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: $b2;
}

.component {
  width: 100%;
  height: 100%;
}

.fullH {
  height: 100%;
}

.fullW {
  width: 100%;
}

.fullC {
  width: 100%;
  height: 100%;
}

