//Mixins
@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position($top, $left: $top, $bottom: $top, $right: $left) {
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin effect3D($size, $c1, $c2) {
  border-top: $size solid $c1;
  border-left: $size solid $c1;
  border-bottom: $size solid $c2;
  border-right: $size solid $c2;
}

@mixin textOutline($color) {
  text-shadow: -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color,
    1px 1px 0 $color;
}
