//Mixins
@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position($top, $left: $top, $bottom: $top, $right: $left) {
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin effect3D($c1, $c2){
  border-top: 2px solid $c1;
  border-left: 2px solid $c1;
  border-bottom: 2px solid $c2;
  border-right: 2px solid $c2;
}
