@import "../../globalStyles/colorScheme.scss";
@import "../../globalStyles/mixins.scss";

.cb-container {
  height: 80px;
  width: 460px;
  background: $b4;
  cursor: pointer;
  clip-path: polygon(0px 0px, 460px 0px, 380px 80px, 0px 80px);
  @include centerContent();
  justify-content: flex-start;
}

.cb-text {
  font-size: 40px;
  font-family: monospace;
  margin-left: 50px;
  color: $w5;
}

//effects
.cb-container:hover {
  background: $w3;
  .cb-text {
    color: $b5;
  }
}
