@import "../globalStyles/colorScheme.scss";
@import "../globalStyles/mixins.scss";


.button {
  position: absolute;
  right: 0px;
  &.signup {
    top: 90px;
  }
  &.login {
    top: 160px;
  }
}

.keyboard-bg {
  height: 330px;
  width: 769px;
  position: absolute;
  right: -30px;
  bottom: -90px;
  transform: rotate(-15deg);
  z-index: -99;
}
