@import "../globalStyles/colorScheme.scss";

.pM-settingsBar {
  width: 30%;
  position: fixed;
  background: $b4;
  top: 0;
  right: 0;
  bottom: 0;
}

.pM-items {
  width: 70%;
  height: 100vh;
  overflow-y: auto;
}
