@import "../globalStyles/colorScheme.scss";
@import "../globalStyles/mixins.scss";

.pS-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.pS-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pS-textView {
  box-sizing: border-box;
  height: 90vh;
  width: 90%;
  margin: auto 40px;
  border: 10px solid $b4;
  font-family: monospace;
  font-size: 40px;
  color: $w4;
  background: $b3;
  overflow-y: auto;
  word-wrap: break-word;
  .practice {
    padding: 10px;
  }
}

.pS-buttonText {
  text-align: right;
  width: 100%;
  transform: translateX(10px);
}
