@import "../../globalStyles/colorScheme.scss";
@import "../../globalStyles/mixins.scss";

.mI-container {
  height: 100px;
  @include effect3D(2px, $w4, $b5);
  margin: 10px;
  padding: 10px;
  width: 95%;
  background: $b3;
  color: $w5;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  transition: all linear 0.3s;
  * {
    transition: all linear 0.5s;
  }

  &.practice {
    margin-left: 20px;
    height: 80px;
    width: 90%;
    border-radius: 50px;
  }

  &.selected {
    box-shadow: 0px 0px 8px 10px $b4;
    background: $w3;

    .mI-title {
      text-decoration: underline;
      color: $b5;
    }

    .mI-text {
      color: $b5;
    }
  }
}

.mI-text {
  margin-left: 30px;
}

.mI-visual {
  margin-right: 60px;
}

.mI-title {
  font-size: 54px;
  text-transform: capitalize;
  &.practice {
    font-size: 40px;
  }
}
.mI-desc {
  font-size: 30px;
}
.mI-overview {
  padding: 3px;
  width: max-content;
}

.mI-category-open {
  font-size: 30px;
}
