@import "../../globalStyles/colorScheme.scss";
@import "../../globalStyles/mixins.scss";

.sV-container {
  position: relative;
  width: 70px;
  height: 70px;
  @include centerContent();
}

.sV-icon {
  position: absolute;
  font-size: 85px;
  transform: rotate(135deg);
}

.sV-values {
  @include centerContent();
  flex-direction: column;
}

.sV-score {
  font-size: 50px;
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  font-style: italic;
  @include textOutline($b4);
  text-shadow: 2px 2px 2px $b4, -2px -2px 2px $b4;
}

.sV-length {
  transform: translateY(-10px);
}
