@import "../../globalStyles/mixins.scss";
@import "../../globalStyles/colorScheme.scss";

.fingerIndex-container{
  display: flex;
  gap: 20px;
}


.fingerIndex-hand{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  &.right{
    flex-direction: row-reverse;
  }
}

.finger{
  padding: 5px 15px; 
  margin: 10px;
  font-family: monospace;
  font-size: 18px;
  @include effect3D(2px,$w4,$b4);
}
