@import "../../globalStyles//mixins.scss";
@import "../../globalStyles/colorScheme.scss";

.lS-container {
  height: 120px;
  margin: 20px;
  padding: 22px;
  background: $b2;
  border-radius: 15px;
  @include effect3D(4px, $w5, $b4);
}

.lS-time {
  width: 100%;
  @include centerContent();
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 50px;
}

.lS-time-underLine {
  width: 500px;
  height: 5px;
  background: $b4;
  border-radius: 40%;
}

.lS-stats {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lS-field {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color: $b4;
  @media screen and(min-width:1580px) {
    font-size: 30px;
  }
}

.lS-value {
  font-family: monospace;
  font-size: 30px;
  color: $b5;
  margin-left: 20px;
}
