@import "../../globalStyles/colorScheme.scss";
@import "../../globalStyles/mixins.scss";

.stat-field {
  font-family: monospace;
  font-size: 30px;
  font-weight: 900;
  color: $w3;
  white-space: nowrap;
  margin-left: 10px;
  @include textOutline($b5);
}

.stat-value {
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  text-align: right;
  font-weight: 800;
  letter-spacing: 2px;
  color: $b4;
  @include textOutline($w3);
}
