@import "../globalStyles/colorScheme.scss";
@import "../globalStyles/mixins.scss";

.button-body {
  height: 60px;
  background: $b4;
  position: relative;
  @include centerContent();
  cursor: pointer;
  &.left {
    margin-left: 40px;
  }
  &.right {
    margin-right: 40px;
  }
}

.button-text {
  margin: auto;
  white-space: nowrap;
  font-family: monospace;
  font-size: 20px;
  color: $w5;
  text-align: center;
  z-index: 2;
  &.left {
    margin-right: 20px;
  }
  &.righ {
    margin-left: 20px;
  }
}

.tip {
  position: absolute;
  width: 30px;
  height: 60px;
  background: $b4;
  z-index: 0;
  top: 0;
  &.left {
    left: -29px;
    clip-path: polygon(30px 0px, 30px 60px, 0px 30px);
  }
  &.right {
    right: -29px;
    clip-path: polygon(0px 0px, 30px 30px, 0px 60px);
  }
}

//efects
.button-body:hover{
    background: $w3;
  .tip{
    background: $w3;
  }
  .button-text{
    color: $b5;
  }
 
}