@import "../globalStyles/colorScheme.scss";
@import "../globalStyles//mixins.scss";

.if-submit-container{
  height: 100px;
  background: $b2;
  width: 60vw;
  @include centerContent();
  flex-direction: column;
  @include effect3D($w3, $b4);
}

.if-submit {
  height: 60px;
  width: 60%;
  background: $b3;
  @include effect3D($w3, $b4);
  @include centerContent();
  cursor: pointer;
  transform: translateY(10px);
}

.if-submit:active {
  transform: scale(0.9);
}

.if-submit-text {
  font-family: monospace;
  color: $w4;
  font-size: 40px;
  text-shadow: -3px -3px 1px $b5;
}

.if-err-field {
  height: 30px;
  @include centerContent();
  transform: translateY(5px);
  .if-err-icon {
    color: $err1;
    margin-right: 10px;
  }
  .if-err-text {
    color: $err1;
    font-family: sans-serif;
    font-size: 20px;
    text-shadow: 1px 2px 2px $b5;
  }
}

